<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net472" />
  <package id="RestSharp" version="105.2.3" targetFramework="net472" />
  <package id="Selenium.Chrome.WebDriver" version="79.0.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net472" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net472" />
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.MySql" version="3.9.71" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.14" targetFramework="net472" />
  <package id="ServiceStack.Redis" version="3.9.71" targetFramework="net472" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net472" />
</packages>